@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model SF.Feature.Handlebars.Models.HandlebarFormModel

<div @Html.Sxa().Component("handlebar-form", Model.Attributes)>
    <div class="component-content">
        @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
        {
            <p>Form Placeholder:</p>
            @Html.Sitecore().DynamicPlaceholder("HandlebarTemplates")
            <p>After Submission Placeholder:</p>
            @Html.Sitecore().DynamicPlaceholder("PostHandlebarTemplates")
        }
        else
        {
            using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
            {

                if (HttpContext.Current.Request.RequestType.ToUpper() == "GET")
                {
                    @Html.Sitecore().DynamicPlaceholder("HandlebarTemplates")
                }
                else
                {
                    @Html.Sitecore().DynamicPlaceholder("PostHandlebarTemplates")
                }

            }
        }
    </div>
</div>
