@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using SF.Feature.MetaTags
@using SF.Feature.Social
@using SF.Foundation.Resources

@model RenderingModel

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
      @Html.GetMetaTags()
      @Html.GetSocialTags()

	  @Html.GetHeaderStyles()
      @Html.Sitecore().VisitorIdentification()

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
{ 
      <link href="~/global/css/project.common/pageEditorChrome.css" rel="stylesheet" />
}
</head>
<body class="@Html.GetItemNameAndPageEditorStatus()">
    <div id="body-wrapper">

        @Html.Sitecore().Placeholder("Top Area")
        @Html.Sitecore().Placeholder("Middle Area")
        @Html.Sitecore().Placeholder("Bottom Area")
    </div>

    @Html.GetFooterScripts()

    <script>
        SF = window.SF || {};
        SF.PageID = '@Sitecore.Context.Item.ID';
    </script>
</body>
</html>

