@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using SF.Foundation.Container
@using SF.Foundation.CommonComponents
@using SF.Foundation.Structure

@model SF.Feature.LoginSample.ForgottenPasswordViewModel

@{
    string errorMessage = ViewBag.ErrorMessage;
}

<div class="row">
    <div class="large-12 columns">

        @Html.Sitecore().DynamicPlaceholder("Column1")

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert-box alert">
                @errorMessage
            </div>
        }

        @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
        {
            <label for="UserName">@Html.Sitecore().Field("UserNamePrompt")</label>
            
            @Html.EditorFor(x => x.UserName)
            
            @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
            {
                <a href="#" class="button">@Html.Sitecore().Field("ForgotPasswordSubmitButtonText")</a>
            }
            else
            {
                var buttonText = Html.Sitecore().CurrentItem.Fields["ForgotPasswordSubmitButtonText"].Value;
                <input class="button" type="submit" text="@buttonText" />
            }
        }

        @Html.Sitecore().DynamicPlaceholder("Column2")
    </div>
</div>
