@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using SF.Foundation.Container
@using SF.Foundation.Components
@using SF.Foundation.Structure

@model SF.Feature.LoginSample.LoginViewModel

@{

    string errorMessage = ViewBag.ErrorMessage;
    Sitecore.Data.Fields.LinkField registerField = Html.Sitecore().CurrentItem.Fields["RegisterPage"];
    Sitecore.Data.Fields.LinkField forgotField = Html.Sitecore().CurrentItem.Fields["ForgotPasswordPage"];
    
        
}

@using (Html.ComponentContainer("login-form-container"))
{
    <div class="row">
        <div class="large-12 columns">

            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="alert-box alert">
                    @Html.Sitecore().Field("FailedLoginMessage")
                </div>
            }

            @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
            {
                <input type="hidden" name="requestType" value="loginSubmission" />
                <label for="UserName">@Html.Sitecore().Field("UserNamePrompt")</label>
                @Html.EditorFor(x => x.UserName)

                <label for="Password">@Html.Sitecore().Field("PasswordPrompt")</label>
                @Html.PasswordFor(x => x.Password)


                <label>@Html.CheckBoxFor(x => x.Persistant) @Html.Sitecore().Field("RememberMePrompt")</label>

                <div class="row">
                    <div class="small-4 columns">
                        @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
                        {
                            <a href="#" class="button">@Html.Sitecore().Field("SubmitButtonText")</a>
                        }
                        else
                        {
                            var buttonText = Html.Sitecore().CurrentItem.Fields["SubmitButtonText"].Value;
                            <input class="button" type="submit" text="@buttonText" />
                        }
                    </div>
                    @if (!string.IsNullOrEmpty(registerField.Text) || Sitecore.Context.PageMode.IsExperienceEditorEditing)
                    {
                        <div class="small-4 columns">
                            @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
                            {
                                <div>Register Page Link</div>
                            }
                            @Html.Sitecore().Field("RegisterPage")
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(forgotField.Text) || Sitecore.Context.PageMode.IsExperienceEditorEditing)
                    {
                        <div class="small-4 columns">
                            @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
                            {
                                <div>Forgot Password Link</div>
                            }
                            @Html.Sitecore().Field("ForgotPasswordPage")
                        </div>
                    }
                </div>
            }
        </div>
    </div>
}
