@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using SF.Feature.MetaTags
@using SF.Feature.Social
@using SF.Foundation.Resources

@model RenderingModel

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @Html.GetMetaTags()
    @Html.GetSocialTags()

    @Html.GetHeaderStyles()
    @Html.Sitecore().VisitorIdentification()

    @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
        <link href="~/global/css/project.common/pageEditorChrome.css" rel="stylesheet" />
    }
</head>
<body class="@Html.GetItemNameAndPageEditorStatus()">
    <header>
        @Html.Sitecore().Placeholder("Airspace Top")
    </header>
    @Html.Sitecore().Placeholder("Airspace Body")
        
    <footer>
        @Html.Sitecore().Placeholder("Airspace Bottom")
    </footer>

        @Html.GetFooterScripts()

        <script>
            SF = window.SF || {};
            SF.PageID = '@Sitecore.Context.Item.ID';
        </script>
</body>
</html>
